<aside class="navbar navbar-static-top navbar-inverse navbartop header-wrap">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home active"></span> Home
      </a>
    </div>

    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-6">
     <ul class="nav navbar-nav" >
       <!-- <li  ><a ng-href="#">Home</a></li>-->
       
        <li ng-repeat="item in main.menu">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <!--<li>Application was created {{ vm.relativeDate }}.</li>  -->
        
        <li>
          <a href="tel:"> <span class="glyphicon glyphicon-phone"></span>+8416 3846 0544</a >
        </li>
         <li>
            <a href="mailto:thanhluand@gmail.com" > <span class="glyphicon glyphicon-envelope"></span> thanhluand@gmail.com</a> 
         </li>
      </ul>

    </div>
  </div>
</aside>
<!-- End bar -->
<!-- start content -->
<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>


  <div class="jumbotron text-center wrapper-aside ">
      <h2>ĐẶNG THÀNH LUÂN</h2>
    <p class="lead">
      <img src="assets/images/luan.jpg"  alt="Viet Nam" width="100" height="103" class="img-circle"><br>
      WEB DEVELOPER
    </p>
   <div>
     <ul class="pager">
       <a href="https://www.facebook.com/thanhluan.dang95" title="Social Facebook" class="animated rotateIn"> <i class='fa fa-facebook-square' style="font-size:48px; color: #00E4FF"></i> </a>
       <a href="https://plus.google.com/" title="Social Facebook" class="animated rotateIn"> <i class='fa fa-google-plus-square'  style="font-size:48px;color: #00E4FF"></i> </a>
       <a href="http://gitlab.com/" title="Social Facebook" class="animated rotateIn"> <i class=' fa fa-git-square'  style="font-size:48px; color: #00E4FF" ></i> </a>
     </ul>
   </div>
   <div>
     <p><i class="fa fa-map-marker">  </i> Viet Nam</p>
   </div>
   </div>



 <div class='jumbotron text-center wrapper-section '>
 <div class="aboutMe" id="about">
    <h2>ABOUT ME</h2>
   <p>
     <small>personal information </small>
   </p>
   <div>
    <p class="content">Hi, My name is Đặng Thành Luân,I was born in 08/08/1995, I come frome Hue, Now I am the third-year student HCM University of sciences, my major is IT, My GPA is 7.5.</p>
   </div>
   <div class = "row text-left">
     <div class="col-md-5 col-lg-3">
       <article class="media">
         <div class="put-left">
         <p>
           <span class="fa fa-phone-square bg-primary text-primary animated rotateIn"> </span>
           +8416 3846 0544 </p>
         </div>
       </article>
     </div>
     <div class="col-md-7 col-lg-4">
       <article class="media">
         <div class="put-left">
         <p>
           <span class="fa fa-envelope bg-primary text-primary animated rotateIn"></span>
              Thanhluand@gmail.com</p>
          </div>
       </article>
     </div>
     <div class="col-md-12 col-lg-5">
       <article class="media">
         <div class="put-left">
          <p>
            <span class="fa fa-map-marker bg-primary text-primary animated rotateIn">  </span>
         180A Nguyên Tri Phuong, Phường 9, Quận 5, TP.HCM </p> 
          
         </div>
       </article>
     </div>

   </div>
   </div>
   <section class="skill">
      <h2>ABOUT ME</h2>
   <p>
     <small>My skills </small>
     <div class="col-lg-6 margin-bottom">
         <h4 class="margin-bottom"> Languages</h4>
         <div class="progress"ng-repeat="awesomeThing in main.awesomeThings">
           <div class="progress-bar" style="width:{{awesomeThing.number}} ">{{awesomeThing.title}}
             
           </div>
         </div>
        
         <div class="progress level">
           <div class="progress-bar" style="width: 25%">Newbie</div>
            <div class="progress-bar" style="width: 25%">Good</div>
             <div class="progress-bar" style="width: 25%">Pretty Good</div>
              <div class="progress-bar" style="width: 25%">SUPERHERO</div>
         </div>
     </div>

     <div class="col-lg-6 margin-bottom">
         <h4 class="margin-bottom"> DATABASES</h4>
         <div class="progress">
           <div class="progress-bar" style="width: 60%">DB2
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 50%">Oracle 8/7
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 90%">SQL Server
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 80%">MySQL
             
           </div>
         </div>
         <div class="progress level" >
           <div class="progress-bar" style="width: 25%">Newbie</div>
            <div class="progress-bar" style="width: 25%">Good</div>
             <div class="progress-bar" style="width: 25%">Pretty Good</div>
              <div class="progress-bar" style="width: 25%">SUPERHERO</div>
         </div>
     </div>


      <div class="col-lg-6 margin-bottom">
         <h4 class="margin-bottom"> FRAMEWORKS</h4>
         <div class="progress">
           <div class="progress-bar" style="width: 80%">Symfony
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 60%">BOOTSTRAP
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 90%">WORDPRESS
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 70%">JOOMLA
             
           </div>
         </div>
         <div class="progress level" >
           <div class="progress-bar" style="width: 25%">Newbie</div>
            <div class="progress-bar" style="width: 25%">Good</div>
             <div class="progress-bar" style="width: 25%">Pretty Good</div>
              <div class="progress-bar" style="width: 25%">SUPERHERO</div>
         </div>
    </div>


      <div class="col-lg-6 margin-bottom">
         <h4 class="margin-bottom"> SYSTEMS</h4>
         <div class="progress">
           <div class="progress-bar" style="width: 90%">Windows
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 80%">LINUX
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 30%">AIX
             
           </div>
         </div>
         <div class="progress">
           <div class="progress-bar" style="width: 30%">NT V4.0
             
           </div>
         </div>
         <div class="progress level" >
           <div class="progress-bar" style="width: 25%">Newbie</div>
            <div class="progress-bar" style="width: 25%">Good</div>
             <div class="progress-bar" style="width: 25%">Pretty Good</div>
              <div class="progress-bar" style="width: 25%">SUPERHERO</div>
         </div>
     </div>


   </p>
   </section>
  <!-- <section class="panel-group resume margin-bottom">
     <h2>Experiences</h2>
     <small>My Experiences </small> -->

     <section id="resume" class="resume-section section-padding">
        <div class="container">
           
            <div class="row">
                <div class="col-md-12">
                    <div class="resume-title">
                         <h2>Experiences</h2>
                         <small>My Experiences </small> 
                    </div>
                    <div class="resume">
                        <ul class="timeline">
                            <li>
                                <div class="posted-date">
                                    <span class="month">2015</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>Android developer certificate for Google</h3>
                                            <span>HoaSen University</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>I have completed google android for courses held at the HoaSen University </p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>

                            <li class="timeline-inverted">
                                <div class="posted-date">
                                    <span class="month">2013</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>TOEIC certificate</h3>
                                            <span>HCM Universyti of science</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>I passed the TOEIC exam was held in HCM University of Science</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>

                            <li>
                                <div class="posted-date">
                                  <span class="month">2013-2016</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>learning experience</h3>
                                            <span>HCM University of Science</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>I have completed many projects while studying at HCM University of Science. I am so happy.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="resume-title">
                       <h2>Educations</h2>
                      <small>My Educations </small> 
                    </div>
                    <div class="resume">
                        <ul class="timeline">
                            <li class="timeline-inverted">
                                <div class="posted-date">
                                  <span class="month">2001-2005</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>Elementary school graduation</h3>
                                            <span> Loc An Elementary school </span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>I finished elementary school.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>

                            <li>
                                <div class="posted-date">
                                  <span class="month">2006-2009</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>junior high school graduation</h3>
                                            <span>Loc An junior high school</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>I finished junior high school.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>
                            <li class="timeline-inverted">
                                <div class="posted-date">
                                  <span class="month">2010-2013</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>High School graduation</h3>
                                            <span> Loc Ninh High School </span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>I finished High School.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>
                            <li>
                                <div class="posted-date">
                                  <span class="month">2013-2017</span>
                                </div><!-- /posted-date -->
                                  <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>college graduates</h3>
                                            <span>HCM university of college graduates</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Ongoing.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>

                        </ul>
                    </div>
                </div>
            </div><!-- /row -->
        </div><!-- /.container -->
    </section>


    <!-- section Frient -->
    <section >
      <div class="container">
        <h2 class="section-title wow fadeInUp">FRIENDS</h2>

        

        <div class="row">
          <div id="grid">
            <div class="portfolio-item col-xs-9 col-sm-4 col-md-3" >
              <div class="portfolio-bg">
                <div class="portfolio">
                  
                  <div class="links">
                    <a class="image-link" href="assets/images/friends/1.jpg"><i class="fa fa-search-plus"></i></a>
                                            
                  </div><!-- /.links -->
                  <img src="assets/images/friends/1.jpg" height="200" width="210" alt="image" > 
                  <div class="portfolio-info">
                    <p >Portfolio Title</p>
                    </div>
                  <!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
            <div class="portfolio-item col-xs-9 col-sm-4 col-md-3" >
              <div class="portfolio-bg">
                <div class="portfolio">
                  
                  <div class="links">
                    <a class="image-link" href="assets/images/friends/2.jpg"><i class="fa fa-search-plus"></i></a>
                                            
                  </div><!-- /.links -->
                  <img src="assets/images/friends/2.jpg" height="200" width="210" alt="image" > 
                  <div class="portfolio-info">
                    <p >Portfolio Title</p>
                    </div>
                  <!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
            <div class="portfolio-item col-xs-9 col-sm-4 col-md-3" >
              <div class="portfolio-bg">
                <div class="portfolio">
                  
                  <div class="links">
                    <a class="image-link" href="assets/images/friends/3.jpg"><i class="fa fa-search-plus"></i></a>
                                            
                  </div><!-- /.links -->
                  <img src="assets/images/friends/3.jpg" height="200" width="210" alt="image" > 
                  <div class="portfolio-info">
                    <p >Portfolio Title</p>
                    </div>
                  <!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
            <div class="portfolio-item col-xs-9 col-sm-4 col-md-3" >
              <div class="portfolio-bg">
                <div class="portfolio">
                  
                  <div class="links">
                    <a class="image-link" href="assets/images/friends/4.jpg"><i class="fa fa-search-plus"></i></a>
                                            
                  </div><!-- /.links -->
                  <img src="assets/images/friends/4.jpg" height="200" width="210" alt="image" > 
                  <div class="portfolio-info">
                    <p >Portfolio Title</p>
                    </div>
                  <!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
            <div class="portfolio-item col-xs-9 col-sm-4 col-md-3" >
              <div class="portfolio-bg">
                <div class="portfolio">
                  
                  <div class="links">
                    <a class="image-link" href="assets/images/friends/5.jpg"><i class="fa fa-search-plus"></i></a>
                                            
                  </div><!-- /.links -->
                  <img src="assets/images/friends/5.jpg" height="200" width="210" alt="image" > 
                  <div class="portfolio-info">
                    <p >Portfolio Title</p>
                    </div>
                  <!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
            <div class="portfolio-item col-xs-9 col-sm-4 col-md-3" >
              <div class="portfolio-bg">
                <div class="portfolio">
                  
                  <div class="links">
                    <a class="image-link" href="assets/images/friends/6.jpg"><i class="fa fa-search-plus"></i></a>
                                            
                  </div><!-- /.links -->
                  <img src="assets/images/friends/6.jpg" height="200" width="210" alt="image" > 
                  <div class="portfolio-info">
                    <p >Portfolio Title</p>
                    </div>
                  <!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
            <div class="portfolio-item col-xs-9 col-sm-4 col-md-3" >
              <div class="portfolio-bg">
                <div class="portfolio">
                  
                  <div class="links">
                    <a class="image-link" href="assets/images/friends/7.jpg"><i class="fa fa-search-plus"></i></a>
                                            
                  </div><!-- /.links -->
                  <img src="assets/images/friends/7.jpg" height="200" width="210" alt="image" > 
                  <div class="portfolio-info">
                    <p >Portfolio Title</p>
                    </div>
                  <!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
            <div class="portfolio-item col-xs-9 col-sm-4 col-md-3" >
              <div class="portfolio-bg">
                <div class="portfolio">
                  
                  <div class="links">
                    <a class="image-link" href="assets/images/friends/8.jpg"><i class="fa fa-search-plus"></i></a>
                                            
                  </div><!-- /.links -->
                  <img src="assets/images/friends/8.jpg" height="200" width="210" alt="image" > 
                  <div class="portfolio-info">
                    <p >Portfolio Title</p>
                    </div>
                  <!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
<section class ="text-center contactMe" >
<h2>Contact me</h2>
    <div class="text-left">
            <form name="contact-form" id="contactForm" action="MAILTO:someone@example.com" method="POST">

                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name" required="">
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" id="email" required="">
                </div>

                <div class="form-group">
                  <label for="subject">Subject</label>
                  <input type="text" name="subject" class="form-control" id="subject">
                </div>

                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="message" class="form-control" id="message" rows="5" required=""></textarea>
                </div>

                <button type="submit" name="submit" class="btn btn-primary">Send Message</button>
              </form>
     </div>

</section>


          </div><!-- /#grid -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- End Works Section -->

  </div>



</div>
