.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

.navbar-nav{
	display: inline-block;

}
.imgMe{
	height: 105px;
	width: 90px;
	 border-radius: 50%;
}
.content-left{

}
.pager{
	margin: 20px;
}
.wrapper-aside{

	
background:orange;
}

