<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
         <li><a ng-href="#">About</a></li>
         
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <!--<li>Application was created {{ vm.relativeDate }}.</li>  -->
        <li><a href="tel:">+8416 3846 0544</a></li>
         <li><a href="mailto:thanhluand@gmail.com">thanhluand@gmail.com</a></li>
      </ul>
    </div>
  </div>
</nav>
